/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




body {
    background-color: black;
}

body>div {
    margin: auto;
    padding: 25px;
    width: 1010px;
}

.main {
    margin: auto;
    padding: 25px;
    width: 960px;
    background-color: gray;
}

.header {
    position: relative;
}
.header h1 {
    display: inline-block;
    background-color: gray;
    width: 300px;
    padding-left: 25px;
    font-size: 24px;
    margin:auto;
    line-height:51px;
    vertical-align:middle;
}
.header .title {
    position: relative;
    background-color: gray;
    height: 62px;
}
.header div {
    display: inline-block;
}

.nav {
    /* work in firefox for some reason */
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: black;
    margin-left: 60px;
}

.main {
    position: relative;
    background-size: 962px auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

/* backgrounds depending on page*/
.bg1 { 
    background-image: url("images/bg1.png");
}

.bg2 {
    background-image: url("images/bg2.png");
}

.bg3 {
    background-image: url("images/bg3.png");
}

.bg4 {
    background-image: url("images/bg4.png");
}

.bg4>div {
    padding-left: 5px; 
}

.description {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 30%;
    background-color: black;
    color: white;
    opacity: 0.5;
    padding: 20px;
    height: 430px;


}

#welcomeMsg {
    margin-top: 15px;
    color: #fff;
    font-size: 45px;
    margin-bottom: 190px;
}

#contactForm {
    float: left;
    color: #fff;
    width: 47%;
}

#contactForm p {
    float: left;
    clear: both;
    margin-top: 10px;
}

#contactForm input {
    float: right;
    margin-top: 10px;
}

#contactForm textarea {
    margin-top: 5px;
    width: 98%;
}

#contactDetails {
    padding: 15px;
    padding-bottom: 40px; 
    margin-right: 20px;
    float: right;
    width: 45%;
    background-color: white;
    opacity: 0.7;
    font-size: small;
}

#contactDetails strong {
    display: inline-block;
    margin-top: 15px;
    
}

/* Blog page */
#blogContainer {
    position: initial;
    width: initial;
    margin: auto;
    top: 0px;
    left: 0px;
    background-color: transparent;
}

.blogEntries img {
    float: left;
    width: 30%;
    margin: 15px;
}

.blogEntries li {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 40%;
    float: left;
    margin: 10px;
    color: black;
}

.blogEntries div {
    background-color: gray;
}

/* END Blog page */

.floatRight {
    float: right;
}

.footer {
    display: flex;
    background-color: gray;
    color: white;
    padding: 25px;
    padding-top: 0;
}

.footer .content {
    background-color: darkslategrey;
    padding: 15px;
    display: inline-block;
    float: left;
    width: 210px;
}

.footer .content:nth-child(2) img {
    width: 18%;
}

.qr-code {
    height: 75px;
    width: 75px;
}

.portfolio {
    width: 210px;
}

strong {
    font-weight: bold;
}